@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --title: #fffcf9;
    --subtitle: #b3b3b3;
    --bg-button: #e9e6e3;
    --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
  }

  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      color: #e9e6e3;
      font-family: 'Poppins', sans-serif;
  }

  body, html{
    height: 100vh;
  }

  .container{
      
      background-image: var(--background);
      
      width: 100vw;
      height: 100vh;
      overflow: scroll;

      padding: 10px;
      text-align: center;
      
  }


  header img{

    width: 120px;
    margin-top: 50px;

  }

  h1{
      font-weight: 700;
      font-size: 30pt;

  }

  /* <------- GRID -------> */


  .movie-poster{
      grid-area: poster;
      width: 300px;
      
  }
  .movie-title{
      grid-area: title;
  }
  .movie-description{
      grid-area: description;
      text-align: start;
  }
  .movie-genero{
      grid-area: genero;
      align-self: end;
      
  } 
  .movie-duration{
      grid-area: duration;
      align-self: end;
  }
  .movie-date{
      grid-area: date;
      align-self: end;
  }
  .movie-genero-p{
    grid-area: genero-p;
    align-self: start;
  }
  .movie-duration-p{
    grid-area: duration-p;
    align-self: start;
  }
  .movie-date-p{
    grid-area: date-p;
    align-self: start;
  }
  

  main{
    

    width:40vw;
    gap: 10px;  

    display: grid;
    
    margin: 50px auto;

    grid-template-areas: 
    "poster title title title"
    "poster description description description"
    "poster genero duration date"
    "poster genero-p duration-p date-p" 
       
    ;


  }


  /* <------- END GRID -------> */






  button{
      width: 200px;
      height:max-content;
      border: none;
      border-radius: 7px;
      padding: 5px;
   
      background-color: var(--bg-button);
      

      cursor: pointer;      
      

      font-weight: 700;
      font-size: 12pt;
      color: rgb(92, 88, 88);

      display: flex;
      align-items: center;
      justify-content: center;

      margin: auto;

      
  }

  button img{
      padding: 5px;
      margin-right: 10px;
            
  }

/* <-------- HOVER ----------> */

button:hover{
    color: #c12a23; 
    background-color: white;
    transform: scale(1.02);
}


/* <-------- END HOVER ----------> */
  

/* <------- FOOTER -------> */
footer{

  margin-top: 100px;
    
}



/* <------- END FOOTER -------> */  



  /* <-------  MEDIA QUERY -------> */

  @media screen and (max-width: 1024px){

    main{
      display: block;
      margin: auto;
    }
    


  }

  /* <------- END MEDIA QUERY -------> */
